.errorMessage{
    color: red !important; 

    font-size: 12px;
}
*::-webkit-scrollbar{
    background-color: red;
    display: none  ;
    
}
body.modal-open {
    overflow: hidden;
  }

.lazy-load-image-background{
    display: block !important;
}