@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="password"],input[type="email"],textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
button{
    @apply bg-gray-300;
}
button.primary{
    @apply bg-primaryColor p-2 w-full text-white rounded-2xl
}

.background-div {
    @apply bg-white p-5 rounded-lg mb-5;
}

.side-nav-sub-title {
    @apply uppercase text-xs font-normal py-1;
  }

  .side-nav-link-sp {
    @apply flex px-6 py-3.5 items-center gap-12 active:bg-gray-200 hover:text-primaryColor hover:bg-gray-300;
  }

  
.side-navbar-host {
    transition: transform 0.3s ease-in-out; /* Animation transition property */
    transform: translateX(-100%); /* Initially move the sidebar off-screen */
  }

  .side-navbar-host.show {
    transform: translateX(
      0
    ); /* Move the sidebar back on-screen when the 'show' class is applied */
  }
  